.App {
  text-align: center;
  background-color: rgb(241, 238, 241);
  padding: 50px;
  height: 525px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App div {
  /* border: 1px solid black; */
  border-radius: 10px;
  background-color: #fff;
  width: fit-content;
  padding: 20px 50px 50px;
  box-sizing: border-box;
  box-shadow: 8px 8px 5px rgb(189, 186, 186);
}
form input {
  margin-bottom: 15px;
  width: 350px;
  height: 30px;
  outline: none;
  padding-left: 10px;
}
button {
  width: 365px;
  height: 35px;
  cursor: pointer;
  color: #fff;
  background-color: blue;
  border-radius: 5px;
  border: transparent;
}